* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

html, body {
  height: 100%;
}

header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #fff;
}
header .logo {
  height: 100%;
}
header .logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 15px;
}
header .navHolder {
  width: 500px;
  height: 100%;
}
header .navHolder .bars {
  position: fixed;
  top: 19px;
  right: 20px;
  display: none;
}
header .navHolder .bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: black;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header .navHolder .bars.active .bar:nth-child(2) {
  opacity: 0;
}
header .navHolder .bars.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(-225deg);
          transform: translateY(8px) rotate(-225deg);
}
header .navHolder .bars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(225deg);
          transform: translateY(-8px) rotate(225deg);
}
header .navHolder .links {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #000;
  height: 60px;
  width: 500px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
header .navHolder .links a {
  text-decoration: none;
  color: #000;
}
header .navHolder .links.active {
  height: 300px;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  header .navHolder .bars {
    display: block;
  }
  header .navHolder .links {
    right: 0;
    top: 60px;
    height: 0;
    width: 200px;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.hero {
  width: 100%;
  height: 300px;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #000;
}

.home {
  width: 100%;
  margin-bottom: 40px;
}
.home h1 {
  position: absolute;
  top: 145px;
  left: 10%;
  z-index: 1;
  text-transform: capitalize;
  font-size: 200px;
  margin: 20px auto;
  text-align: center;
  color: transparent;
  font-family: sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.home p {
  font-size: 18px;
  margin: 20px auto 16px auto;
  width: 80%;
}

.browse {
  width: 100%;
}
.browse h1 {
  position: absolute;
  top: 145px;
  left: 10%;
  z-index: 1;
  text-transform: capitalize;
  font-size: 200px;
  margin: 20px auto;
  text-align: center;
  color: transparent;
  font-family: sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.browse .imageGrid {
  width: 1185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px auto;
}
.browse .imageGrid .container {
  width: 375px;
  height: 200px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.browse .imageGrid .container .image {
  width: 200px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.browse .imageGrid .container .image.one {
  background-image: url(../images/thumb1_200x200.jpg);
}
.browse .imageGrid .container .image.two {
  background-image: url(../images/thumb2_200x200.jpg);
}
.browse .imageGrid .container .image.three {
  background-image: url(../images/thumb3_200x200.jpg);
}
.browse .imageGrid .container .image.four {
  background-image: url(../images/thumb4_200x200.jpg);
}
.browse .imageGrid .container .image.five {
  background-image: url(../images/thumb5_200x200.jpg);
}
.browse .imageGrid .container .image.six {
  background-image: url(../images/thumb6_200x200.jpg);
}
.browse .imageGrid .container .image.seven {
  background-image: url(../images/thumb7_200x200.jpg);
}
.browse .imageGrid .container .image.eight {
  background-image: url(../images/thumb8_200x200.jpg);
}
.browse .imageGrid .container .image.nine {
  background-image: url(../images/thumb9_200x200.jpg);
}
.browse .imageGrid .container .image.ten {
  background-image: url(../images/thumb10_200x200.jpg);
}
.browse .imageGrid .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 100%;
  font-size: 24px;
}

@media screen and (max-width: 960px) {
  .browse .imageGrid {
    width: 780px;
  }
}