.home {
    width: 100%;
    margin-bottom: 40px;

    h1{
        position: absolute;
        top: 145px;
        left: 10%;
        z-index: 1;
        text-transform: capitalize;
        font-size: 200px;
        margin: 20px auto;
        text-align: center;
        color: transparent;
        font-family: sans-serif;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
    }

    p {
        font-size: 18px;
        margin: 20px auto 16px auto;
        width: 80%;
    }
}